h5py==3.13.0
matplotlib==3.10.3
numpy==2.2.5
pandas==2.2.3
Pillow==11.2.1
prometheus_client==0.21.1
prysm==0.21.1
pygame==2.6.1
pylablib==1.4.3
PyQt5==5.15.11
PyQt5_sip==12.17.0
pyserial==3.5
pyvisa==1.15.0
scipy==1.15.3
simple_pid==2.0.1
thorlabs_apt==0.2
ThorlabsPM100==1.2.2
